# terraform stuff
deployment/secrets/*
deployment/.terraform

# nodejs stuff
dist
node_modules
.nyc_output
.eslintrc.json
.babelrc
package.json
.npmignore

# os files
.DS_Store
environment
docker-compose.yml

# build artifacts
pgn-extract
